# Archivo de ejemplo. Cópialo y renómbralo a '.env' antes de lanzar docker-compose

# Clave secreta para las sesiones de Flask
SECRET_KEY=clave_super_secreta_para_desarrollo

# Tu clave de la API de Google Gemini (Obligatoria para la funcionalidad de IA)
GEMINI_API_KEY=tu_clave_de_gemini_aqui
